@import "base";
@import "font";

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@black  : #222;
@gray   : #ddd;
@gray1  : #ccc;
@gray2   : #999;

body {
    padding-bottom: 1rem;
}

p {
    color: @black;
    font-family: "Georgia",serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 1em;
}

#dot-chart {
    // margin-bottom: 2em;
    position: relative;

    .labels li {
        color: @black;
        margin: 0;
        padding: 0;
    }

    .labels li span {
        margin: 0;
        padding: 0px 3px;
        border-width: 1px;
        border-style: solid;
    }
}

#dot-legend {
    margin: 0;
    text-align: right;

    .key-item {
        line-height: 1em;
    }

    .key-item b {
        border-style: solid;
        border-width: 1px;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        // margin-left: 3px;
        // margin-right: 0;
    }
}

.axis {
    fill: #666;
    font-weight: bold;
    font-size: 12px;

    path { display: none; }
}

.key {
    margin: 15px 10px;

    .key-item label {
        color: @black;
    }

    .key-item b {
        border-radius: 7.5px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
    }
}

.mobile.key {
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;

    .key-item {
        margin: 5px 0;
    }
}

.slopes line {
    stroke-width: 3px;
    stroke: #ddd;
    shape-rendering: auto;
}

.slopes .invisible {
    stroke-width: 15px;
    stroke: #fff;
    opacity: 0;
}

.slopes .hovered line {
    stroke-width: 4px;
}

.slopes circle {
    fill: #ddd;
    stroke: #fff;
    stroke-width: 1px;
}

.value text {
    font-size: 11px;
    fill: #333;
}

.label text {
    font-size: 11px;
    fill: #333;
}

.labels {
    pointer-events: none;
}

.labels li {
    color: #fff;
    // margin-left: 40px;
    margin-left: 10px;
    padding-top: 3px;
    text-align: left;
    display: block;

    span {
        display: inline;
        padding: 3px 5px;
        vertical-align: top;
    }

    &.outside {
        color: #333;
        display: table;
        padding-top: 0;
    }

    &.outside span {
        background: none!important;
        padding-top: 0;

        display: table-cell;
        vertical-align: middle;
    }
}

.tooltip-details {
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    z-index: 3;
    background: white;
    padding: 10px;

    .meta {
        float: right;
    }

    .details {
        // text-align: center;
    }

    .details h4 {
        margin: 0;
    }

    .big-number .big {
        font-size: 3em;
    }

    .big-number .small {
        font-size: 2em;
    }

    .group {
        font-size: 1.2em;
        font-weight: bold;
    }

    .more-details {
        display: none;
    }

    ul, ol {
        padding-left: 1.2em;
        margin-top: 0;
    }

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin: .5em auto;
    }

    table, th, td {
        border: 1px #ddd solid;
    }

    th {
        background: #ddd;
    }

    .select-series {
        display: none;
        max-width: 100%;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }

    .tooltip-nav {
        display: none;
        margin-top: .5em;
        padding-top: .5em;
        background: #ddd;
        text-align: center;

        .clearfix();
    }
}

.dot {
    cursor: pointer;
}

.tooltip {
    pointer-events: none;
    font-size: 12px;
}

.split .bullet-boxes {
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.footer {
    margin-bottom: 1rem;
}

.connector line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}