{% extends 'base_template.html' %}

{% block content %}

    <!-- {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %} -->
    {% if COPY.labels['editorial-intro'] %}<div class="intro">{{ render(COPY.labels['editorial-intro'])|smarty }}</div>{% endif %}
    
    <h3>Current Record Efficiencies</h3>
    {% if COPY.labels['instructions-dot'] %}<div>{{ render(COPY.labels['instructions-dot'])|smarty }}</div>{% endif %}
    <div id="dot-legend"></div>
    <div id="dot-chart">
        <img src="dot-fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

    {% if COPY.labels['editorial-categories'] %}<div class="intro">{{ render(COPY.labels['editorial-categories'])|smarty }}</div>{% endif %}

<!--     <h3>Most Efficient PV Cell Types</h3>
    <div id="bar-chart">
        <img src="bar-fallback.png" alt="[Chart]" class="fallback" />
    </div> -->

    <h3>Efficiency Improvements</h3>
    {% if COPY.labels['instructions-slope'] %}<div>{{ render(COPY.labels['instructions-slope'])|smarty }}</div>{% endif %}
    <div id="legend"></div>
    <div id="slopegraph" class="graphic">
        <img src="slope-fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels['footnote-slope'] %}
    <div class="footnotes">{{ COPY.labels['footnote-slope']|smarty }}</div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

    {% if COPY.labels['editorial-trends'] %}<div class="intro">{{ render(COPY.labels['editorial-trends'])|smarty }}</div>{% endif %}

    <script type="text/javascript">
        var DATA = {{ COPY.data.json() }};
        var LABELS = {{ COPY.labels.json() }};

        var AIRTABLE_DATA = {};

        {% for sheet in AIRTABLE_DATA %}
        AIRTABLE_DATA['{{ sheet.name }}'] = {{ sheet.data }};
        {% endfor %}
    </script>

    <script id="tooltip-template" type="text/html">
        <div class="meta"><a href="#" id="close">Close</a></div>
        <div class="details">
            <h3 class="cell-type">Some type of cell</h3>
            <p class="description"><%= record.description %></p>
            <h4>Advantages</h4>
            <p class="pros"><%= record.pros %></p>
            <h4>Disadvantages</h4>
            <p class="cons"><%= record.cons %></p>
        </div>

        <nav class="tooltip-nav">
            <div>Navigate Records</div>
            <!-- <h4>Cell Type:</h4> -->
            <select name="series" class="select-series" id="select-series"></select>
            <button class="prev">Previous</button>
            <button class="next">Next</button>
        </nav>
    </script>
{% endblock content %}
